# {{ ansible_managed }}

production:
  adapter: {{ foreman_db_adapter }}
{%- if foreman_db_adapter == "postgresql" %}
  database: {{ foreman_db_name }}
  username: {{ foreman_db_username }}
  password: {{ foreman_db_password }}
  host: {{ foreman_db_host }}
{% endif %}
